html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: url(../assets/background.jpg) no-repeat center;
  height: 900px;
  overflow: hidden;
}
.wraper {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 1s;
  transform: translateZ(0);
  opacity: 1;
}

#game_name {
  margin-top: 200px;
  font-size: 7em;
  color: chocolate;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-top: 300px;
}

.menu_button {
  width: 200px;
  height: 75px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.493);
  text-decoration: none;
  padding: 1.5rem;
  text-align: center;
  font-size: 25px;
  color: white;
}

#rules_page,
#scores_page {
  transition-duration: 2s;
  transform: translateZ(0);
  position: absolute;
  top: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  margin-top: 100px;
  width: 1200px;
}
p {
  margin: 10px;
  font-size: 24px;
  color: white;
}
