html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  width: 1920px;
  margin: 0 auto;
  background: url(../assets/background.jpg) no-repeat center;
}
.wraper {
  width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p {
  margin: 10px;
  font-size: 24px;
  color: white;
}
